body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0;
}

.wrapper {
	max-width: 943px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #828282;
	padding: 33px 0;
}

a {
	text-decoration: none;
	font-size: 18px;
	color: #828282;
}

.inform {
	display: flex;
	justify-content: space-between;
}

h1 {
	color: #070707;
	padding: 39px 0;
}

.inform-centr {
	align-self: center;
}

.inform-right {
	align-self: center;
	transform: rotate(-90deg);
	text-transform: uppercase;
}