 body {
 	font-family: Arial, sans-serif;
 	color: #000;
 }

 .container {
 	background: #F6F6F6;
 }

 .wrap {
 	width: 945px;
 	margin: 0 auto;
 }

 nav {
 	display: flex;
 	justify-content: space-between;
 	padding: 33px 0;
 	border-bottom: 1px solid black;
 }

 nav a {
 	text-decoration: none;
 }

 .info {
 	display: flex;
 	justify-content: space-between;
 	align-items: center;
 	padding: 20px 0;
 }

 .btn-a {
 	transform: translateX(18px) rotate(270deg);
 	align-self: center;
 }

 div a {
 	text-decoration: none;
 	text-transform: uppercase;
 }

 .wraps {
 	background: #F6F6F6;
 }

 .about {
 	padding: 100px 0;
 	text-align: center;
 }

 .general {
 	display: flex;
 	justify-content: space-between;
 	text-align: center;
 }