body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	/* margin: 0; */
	color: #828282;
}

* {
	border: 1px solid black;
}

.wrapper {
	width: 945px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #828282;
	padding: 33px 0;
}

nav a {
	font-size: 18px;
	color: #828282;
}

a {
	text-decoration: none;
}

.inform_flex {
	/* display: inline-block; */
	display: flex;
	justify-content: space-between;
	padding: 34px 0;
}

/* .inform_center {
	padding: 0;
} */

.inform_flex-buttoms {
	/* writing-mode: tb-rl; */
	/* transform: rotate(180deg) */
	/* transform: rotate(-90deg); */
	/* transform: rotate(0.5turn); */
	/* transform: -webkit-transform; */
	/* transform: rotate(270deg); */
	/* transform: translateX(18px) rotate(270deg);
	align-self: center; */
}

.inform_flex-buttoms_eng {
	border-left: 2px solid #828282;
}

.flex_buttons_rusEng {
	transform: translateX(18px) rotate(270deg);
	align-self: center;
}

/* img {
	width: 100%;
	height: auto;
} */

.flex_buttons_rusEng {}

.inform_flex_center {
	width: 100px;
	padding: 0;
}

/* тренька */
.wrap_wrapper {
	display: flex;
	justify-content: space-around;
}

.wrap_red {
	background-color: red;
	color: white;
}

.wrap_black {
	background-color: black;
	color: white;
}